$theme-color-faint-1: rgb(223 223 223);
$theme-color: #030303;
// Font sizes
$theme-hero: 49px;
$theme-title: 44px;
$theme-header: 28px;
$theme-title-1: 24px;
$theme-regular: 16px;
$theme-small: 14px;
$theme-smaller: 12px;
$theme-tiny: 10px;
$theme-tinier: 8px;

// Line heights
$theme-line-hero: 99px;
$theme-line-title: 52px;
$theme-line-header: 42px;
$theme-line-title-1: 38px;
$theme-line-regular: 30px;
$theme-line-small: 25px;
$theme-line-smaller: 20px;
$theme-line-tiny: 18px;
$theme-line-tinier: 15px;