@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "breakpoints";
@import "mixins/sizes";
@import "variables/themes";

.font-title-small {
  @include font-size($screen-sm-min, $screen-xl-min, $theme-regular, $theme-title-1, $theme-line-regular, $theme-line-title-1);
}
.font-title {
  @include font-size($screen-sm-min, $screen-xl-min, $theme-title-1, $theme-title, $theme-line-title-1, $theme-line-title);
}
.pointer {
  cursor: pointer!important;
}
.bg-theme-faint-1 {
  background: $theme-color-faint-1 !important;
}
.text-theme-faint-1 {
  color: $theme-color-faint-1 !important;
}
.text-theme {
  color: $theme-color !important;
}
.center-center {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
}

.custom-box-2 {
  padding: 10px;
  background: transparent;
  position: relative;
  transition: 0.4s;

  i {
    font-size: 50px;
    color: #999999;
    transition: 0.4s;
  }
  &:hover i {
    color: $theme-color;
  }

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    border-radius: 0 0 5px 5px;
    left: 0;
    background: transparent;
    bottom: 0;
    transition: 0.4s;
  }
  &:hover::before {
    width: 100%;
  }
  &:hover {
    .ttle {
      color: $theme-color;
      transition: color linear .5s;
    }
    box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
    @extend .translate-y
  }
}
.translate-y{
  transform: translateY(-10px);
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    @extend .text-theme-faint-1
  }
}


