@import '~bootstrap/scss/bootstrap.scss';
@import "breakpoints";
@import "mixins/sizes";
@import "variables/themes";

body {
  font-family: Roboto cursive;
  font-weight: 500;
}

.font-title-small {
  @include font-size($screen-sm-min, $screen-xl-min, $theme-regular, $theme-title-1, $theme-line-regular, $theme-line-title-1);
}
.font-title {
  @include font-size($screen-sm-min, $screen-xl-min, $theme-title-1, $theme-title, $theme-line-title-1, $theme-line-title);
}
.pointer {
  cursor: pointer!important;
}
.bg-theme-faint-1 {
  background: $theme-color-faint-1 !important;
}
.text-theme-faint-1 {
  color: $theme-color-faint-1 !important;
}
.text-theme {
  color: $theme-color !important;
}
.center-center {
  text-align: center;
  //white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
}
.central {
  position: absolute;
  top: 50%;
  left: 33.3%;
  width: 33.3vw;
  word-break: break-word;
  transform: translate(0, -50%);
  .space-top {
    position: relative;
    top: 80px;
  }
}
.border-solid-2 {
  border: solid 2px;
}
.details {
  @extend .font-title;
  .text-info, .text-danger, .text-success {
    font-size: $theme-small;
    line-height: $theme-line-small;
  }
}
.custom-box-2 {
  padding: 10px;
  background: transparent;
  position: relative;
  transition: 0.4s;

  i {
    font-size: 50px;
    color: #999999;
    transition: 0.4s;
  }
  &:hover i {
    color: $theme-color;
  }

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    border-radius: 0 0 5px 5px;
    left: 0;
    background: transparent;
    bottom: 0;
    transition: 0.4s;
  }
  &:hover::before {
    width: 100%;
  }
  &:hover {
    .ttle {
      color: $theme-color;
      transition: color linear .5s;
    }
    box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
    @extend .translate-y
  }
}
.translate-y{
  transform: translateY(-10px);
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    font-size: larger;
    @extend .text-theme
  }
}


